*
#main{
    
    width: 100%;
    
   
   
}
#main1{
   
    width: 100%;
   
}
#box1{
    
    background-color: black;
    display: inline-block;
}
#box2{
    
    
    background-color: rgb(201, 12, 12);
    display:inline-block;
   
}
#box3{
    
    background-color: rgb(11, 189, 243);
    display:inline-block;
}
#box4{
    
    background-color: rgb(233, 7, 184);
    display:inline-block;
}
#box5{
    
    background-color: rgb(64, 223, 15);
    display:inline-block;
}
#box6{
    
    background-color: rgb(241, 226, 13);
    display:inline-block;
}
#box1,#box2,#box3,#box4,#box5,#box6{
    height: 150px;
    width: 150px;
     margin: 10px;
}