section{
    height: 600px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#box1
{
    height: 150px;
    width: 150px;
    background-color: brown;
}
#box2
{
    height: 150px;
    width: 150px;
    background-color: black;
}
#box3
{
    height: 150px;
    width: 150px;
    background-color: rgb(10, 243, 10);
}