#main{
    height:600px;
    width: 600px;
    border: 3px solid rgb(247, 10, 22);
    margin-left: 50px;
}
#c1{
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 20px;
}
#c2{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-left: 170px;
}
#c3{
    height: 100px;
    width: 100px;
    display:inline-block;
    margin-left: 20px;
}
#c4{
    height: 100px;
    width: auto;
    display: inline-block;
    margin-left: 180px;
    
}