h1{
    color: blueviolet;
    text-align: center;
    text-transform: capitalize;
    text-decoration:underline;
    text-decoration-style:wavy;
}
p{
    color: maroon;
    text-shadow: 10px -10px 10px black;
    word-spacing: 5px;
    line-height: 20px;
    
}
div{
    height: 300px;
    width: 300px;
    background-color: red;
    box-shadow: 10px 10px black;
}